.news-page {

  & .categories {
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 67px;
  }
}

.categories {
  display: flex;
  align-items: center;

  @include response-to(small) {
    justify-content: space-between;
  }

  &__item {
    font-family: Montserrat Alternates;
    display: flex;
    align-items: center;

    &_icon {

      @include response-to(small) {
        display: none;
      }
    }

    &_text {
      margin-left: 5px;
      font-size: 16px;
      line-height: 100%;
      color: #fff;
      font-weight: 400;
      position: relative;

      @include response-to(small) {
        margin-left: 0;
      }

      &:before {
        position: absolute;
        content: '';
        width: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 3px;
        bottom: -5px;
        background-color: $orange-color;
        @include transition-ease;
      }
    }

    @include on-event {

      .categories__item_text:before {
        width: 100%;
      }
    }

    &.active {

      .categories__item_text {
        color: $bronze-color;

        @include response-to(small) {
          color: #fff;

          &:before {
            width: 100%;
          }
        }
      }
    }

    &:not(:last-of-type) {
      margin-right: 35px;

      @include response-to(small) {
        margin-right: 0;
      }
    }
  }
}