.single {

  @include response-to(small) {

    .header {
      margin-bottom: 15px;
    }
  }
}

.page-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 61px;

  @include response-to(small) {
    margin-bottom: 30px;
  }

  &__caption {
    max-width: 740px;
    color: $dark-color;
    font-family: Montserrat Alternates;
    font-weight: bold;
    font-size: 45px;
    line-height: 130%;

    @include response-to(medium) {
      font-size: 30px;
    }

    @include response-to(small) {
      font-size: 22px;
    }
  }

  .back {

    @include response-to(small) {
      display: none;
    }
  }
}

.single-page-content {
  padding-top: 67px;
  padding-bottom: 100px;

  @include response-to(small) {
    padding-top: 25px;
    padding-bottom: 44px;
  }
}

.page-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;

  @include response-to(small) {
    flex-wrap: wrap;
  }

  & + .back {
    display: none;

    @include response-to(small) {
      display: flex;
      margin: 33px auto 0;
      width: fit-content;
    }
  }

  &__text {
    max-width: 565px;
    width: 100%;
    font-family: Montserrat;
    margin-right: 30px;
    font-size: 16px;

    @include response-to(medium) {
      width: 70%;
    }

    @include response-to(small) {
      width: 100%;
      order: 2;
      font-size: 14px;
    }

    &_text {
      margin-bottom: 15px;
      line-height: 150%;

      &.bold,
      & .bold {
        font-weight: 600;
      }
    }

    &_order {
      display: flex;
      align-items: center;
      margin-top: 50px;

      @include response-to(small) {
        flex-wrap: wrap;
      }

      & .btn {
        min-width: 121px;
        margin-right: 20px;

        @include response-to(small) {
          order: 2;
          margin: 20px auto 50px;
        }
      }
    }

    &_note {
      font-weight: normal;
      font-size: 16px;
      font-family: Montserrat;

      @include response-to(small) {
        font-size: 12px;
        text-align: center;
        max-width: 309px;
        margin: 0 auto;
      }
    }
  }

  &__img {
    max-width: 588px;
    position: relative;
    padding-bottom: 140px;

    @include response-to(small) {
      width: calc(100% + 40px);
      margin-right: -20px;
      margin-left: -20px;
      padding-bottom: 52px;
      margin-bottom: 38px;
    }

    & img {
      width: 100%;
    }

    &_stripes {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 24px;
      border-top: 2px solid $orange-color;
      border-bottom: 2px solid $orange-color;
      right: -15px;

      @media(min-width: 1200px) {
        right: calc((100vw - 1200px) / -2);
      }

      @include response-to(small) {
        border-bottom: 1px solid $orange-color;
        border-top: 1px solid $orange-color;
        height: 12px;
      }

      &:before {
        box-sizing: border-box;
        border-bottom: 2px solid $orange-color;
        height: 24px;
        top: -66px;

        @include response-to(small) {
          border-bottom: 1px solid $orange-color;
          height: 12px;
          top: -34px;
        }
      }

      &:after {
        height: 0px;
        top: -24px;

        @include response-to(small) {
          top: -12px;
        }
      }

      &:after,
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        border-top: 2px solid $orange-color;

        @include response-to(small) {
          border-top: 1px solid $orange-color;
        }
      }
    }
  }
}

.page-lists {
  margin-top: 64px;

  @include response-to(small) {
    margin-top: 30px;
  }

  & + .back {
    display: none;

    @include response-to(small) {
      display: flex;
      margin: 33px auto 0;
      width: fit-content;
    }
  }
}

.page-list {
  border: 3px solid #BEA479;
  padding: 27px 25px 27px 40px;
  margin-bottom: 22px;

  @include response-to(small) {
    padding: 26px 23px;
  }

  &.active {

    .page-list__header {
      margin-bottom: 49px;

      @include response-to(small) {
        margin-bottom: 18px;
      }

      &_text {

        &:after {
          transform: rotate(45deg) translateY(-37%) translateX(-36%);
        }
      }
    }

    .page-list__body {
      max-height: 1000px;
      opacity: 1;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 6px;
        padding: 2px;
      }

      &::-webkit-scrollbar-track {
        background-color: $bronze-color;
        border-radius: 20px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 20px;
        border: 2px solid $bronze-color;
      }
    }

    .page-list__item {
      max-height: 100px;
      padding-bottom: 5px;
      opacity: 1;
    }
  }

  &__header {
    width: 100%;
    cursor: pointer;
    margin-bottom: 0;
    @include transition-ease;

    &_text {
      font-family: Montserrat Alternates;
      font-weight: bold;
      font-size: 28px;
      line-height: 130%;
      color: $dark-color;
      position: relative;

      @include response-to(small) {
        font-size: 16px;
      }

      &:before,
      &:after {
        position: absolute;
        content: '';
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 44px;
        height: 44px;

        @include response-to(small) {
          width: 24px;
          height: 24px;
        }
      }

      &:before {
        background-color: $bronze-color;
        border-radius: 50%;
        z-index: 1;
      }

      &:after {
        z-index: 2;
        background-image: url('../../img/list-header-show.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: initial;
        @include transition-ease;

        @include response-to(small) {
          background-size: contain;
        }
      }
    }
  }

  &__body {
    @include transition-ease;
    max-height: 0px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;

    @include response-to(small) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    color: $dark-color;
    width: 50%;
    padding-right: 1%;
    opacity: 0;
    transition-property: max-height, padding-bottom;
    transition-delay: .3s;
    transition-timing-function: ease-in;

    @include response-to(small) {
      width: 100%;
    }
  }
}
