.authors-page {

  @include response-to(small) {

    .header {
      margin-bottom: 15px;
    }
  }

  .white-bg {
    padding-top: 75px;
    padding-bottom: 90px;

    @include response-to(small) {
      padding-top: 15px;
      padding-bottom: 0;
    }
  }

  &__caption {
    position: relative;
    width: 100%;

    &_text {
      position: relative;
      z-index: 1;
      width: fit-content;
      margin: 0 auto;
      text-align: center;
      font-weight: bold;
      font-size: 45px;
      line-height: 130%;
      color: $dark-color;
      font-family: Montserrat Alternates;
      padding: 0 30px;
      background-color: #fff;

      @include response-to(small) {
        font-size: 22px;
        padding: 0 20px;
      }
    }

    &_decor {
      z-index: 0;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      height: 9px;
      border-top: 2px solid $orange-color;
      border-bottom: 2px solid $orange-color;

      @include response-to(small) {
        border-bottom: 1px solid $orange-color;
        border-top: 1px solid $orange-color;
        height: 6px;
      }

      &:before {
        box-sizing: border-box;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 9px;
        border-top: 2px solid $orange-color;
        border-bottom: 2px solid $orange-color;
        content: '';
        top: calc(100% + 7px);

        @include response-to(small) {
          border-bottom: 1px solid $orange-color;
          border-top: 1px solid $orange-color;
          height: 6px;
          top: calc(100% + 5px);
        }
      }

      &:after {
        top: -9px;
        content: '';
        box-sizing: border-box;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $orange-color;

        @include response-to(small) {
          height: 1px;
          top: -6px;
        }
      }
    }
  }
}