.footer {
  text-align: center;
  height: 367px;
  padding-bottom: 55px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: -200px;
  font-family: Montserrat;

  @include response-to(small) {
    height: 424px;
    margin-top: -300px;
    padding-bottom: 45px;
  }

  &__copy {
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;

    @include response-to(small) {
      font-size: 12px;
    }
  }

  &__dev {
    font-size: 12px;
    line-height: 150%;
    font-weight: 400;
  }

  &.dark-bg {
    color: #C7C7C7;
  }
}