.top-phone {
  position: absolute;
  z-index: 100;
  right: 20px;
  top: 0;
  border-radius: 0px 0px 32px 32px;
  padding: 0 18px 14px 14px;
  height: 160px;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  @include transition-ease;

  @media(min-width: 1200px) {
    right: calc((99vw - 1200px) / 2);
  }

  @include response-to(small) {
    position: fixed;
    z-index: 1000;
    height: 68px;
    padding: 0 12px 10px 9px;
    width: 42px;
    //right: calc((100vw - 360px) / 2 + 20px);
  }


  & .hover {
    min-width: 100%;
    display: none;
  }

  & .img {
    min-width: 100%;
    display: block;
  }

  @include on-event {
    background-color: #fff;

    & .img {
      display: none;
    }

    & .hover {
      display: block;
    }
  }
}

.bg-big-circle {
  position: absolute;
  top: 106px;
  right: -11.4%;
  z-index: -1;

  @media(min-width: 1455px) {
    right: 0;
  }

  @include response-to(large) {
    right: -250px;
  }

  @include response-to(medium) {
    width: 390px;
    right: -100px;
    height: auto;
    top: 110px;
  }
}

.header {
  position: relative;
  padding-bottom: 30px;
  @include flex-center();

  @include response-to(small) {
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 23px;
  }

  &__logo {
    width: 206px;
    position: absolute;
    bottom: 30px;
    left: 0;
    z-index: 1;
    cursor: pointer;

    @include response-to(large) {
      left: 20px;
      width: 150px;
      bottom: 40px;
    }

    @include response-to(medium) {
      position: static;
      margin-bottom: 20px;
    }

    @include response-to(small) {
      width: 112px;
      margin-bottom: 0;
    }

    & img {
      max-width: 100%;
    }
  }
}